# Things that should not be in version control---

# Python 3 bytecode directories
__pycache__/

# Python bytecode files
*.pyc

# editor backups
*~

# virtualenv stuff
venv/
bin/
lib/
lib64
pyvenv.cfg

# collected static files for production-like environments
collectstatic/

# local copies of static libraries
static/libs/jquery-2.1.1.min.js
static/libs/underscore-min.js
static/libs/underscore-min.map
static/libs/css/bootstrap.min.css
static/libs/fonts/glyphicons-halflings-regular.ttf
static/libs/fonts/glyphicons-halflings-regular.woff

# local wordlist
static/libs/words

# logs
logs/finetooth.log*

# Coverage reports
.coverage
htmlcov/

# compiled translation files
*.mo

# the SQLite database
db.sqlite3

# sentinel file whose existence is used to decide whether it is the
# case that we're in a dev environment (and should use the
# corresponding Django settings)
.development

# sentinel file to disable the Django Debug Toolbar
.disable_debug_toolbar

# really
share/

# other droppings
pip-selfcheck.json
selenium/
