# Things that should not be in version control---

# Python 3 bytecode directories
__pycache__/

# Python bytecode files
*.pyc

# editor backups
*~

# virtualenv stuff
bin/
lib/
lib64
pyvenv.cfg

# local copies of JavaScript libraries
static/libs/jquery-2.1.1.min.js
static/libs/underscore-min.js
static/libs/underscore-min.map

# local wordlist
static/libs/words

# logs
logs/finetooth.log*

# Coverage reports
.coverage
htmlcov/

# the database
db.sqlite3
