# Things that should not be in version control---

# Python 3 bytecode directories
__pycache__

# Python bytecode files
*.pyc

# editor backups
*~

# virtualenv stuff
bin/
lib/
lib64
pyvenv.cfg

# the database
db.sqlite3
