# TODO: update these (see dev_requirements for newer development versions)
bleach==1.4
Django==2.2.24
Markdown==2.4.1
dj-database-url==0.3.0
dj-static==0.0.6
django-extensions==1.6.1
gunicorn==19.1.1
ipython==3.1.0
psycopg2==2.5.1
