<div class="comment" data-pk="{{ comment.pk }}">
<div class="byline">
  <a href="{% url 'show_profile' comment.commenter.username %}">{{ comment.commenter.username }}</a>
  &bull; <em>{{ comment.published_at }}</em>
</div>
{{ comment.content }}
<a href="javascript:void(0);" class="reply-form-link"
   data-comment-pk="{{ comment.pk }}" data-post-pk="{{ post.pk }}">
  Reply
</a>
<div class="reply-form-holder" data-parent-pk="{{ comment.pk }}"></div>
{% for child in comment.comment_set.all %}
   {% with "includes/comment.html" as comment_template %}
      {% with child as comment %}
         {% include comment_template %}
      {% endwith %}
   {% endwith %}
{% endfor %}
</div>
