{% load bootstrap3 %}

<div class="comment" id="comment-{{ comment.pk }}">
  <div class="byline">
  <a class="username" href="{% url 'show_profile' comment.commenter.username %}">
    {{ comment.commenter.username }}
  </a>
  &bull; <em>{{ comment.published_at }}</em>
  </div>
  {{ comment.render|safe }}
  <p>
  <a href="javascript:void(0);" class="comment-tool reply-form-link"
     data-comment-pk="{{ comment.pk }}" data-post-pk="{{ post.pk }}">
    {% bootstrap_icon 'pencil' %} Reply
  </a>
  &nbsp;&nbsp;
  <a href="#comment-{{ comment.pk }}" class="comment-tool">
     {% bootstrap_icon 'pushpin' %} Permalink
  </a>
</p>
<div class="reply-form-holder" data-parent-pk="{{ comment.pk }}"></div>
{% for child in comment.comment_set.all %}
   {% with "includes/comment.html" as comment_template %}
      {% with child as comment %}
         {% include comment_template %}
      {% endwith %}
   {% endwith %}
{% endfor %}
</div>
