<h3><a href="{{ post.pk }}/">{{ post.title }}</a></h3>
<span class="score" data-pk="{{ post.pk }}" data-score="{{ post.score }}">
  <strong>score: {{ post.score }}</strong>
</span>
<div class="post well" data-pk="{{ post.pk }}" data-kind="post">
{{ post.render|safe }}
</div>
<a class="btn btn-success upvote"
   data-pk="{{ post.pk }}" data-kind="post"
   href="javascript:void(0)">
  <i class="glyphicon glyphicon-thumbs-up"></i> upvote
</a>
<a class="btn btn-danger downvote"
   data-pk="{{ post.pk }}" data-kind="post"
   href="javascript:void(0)">
  <i class="glyphicon glyphicon-thumbs-down"></i> downvote
</a>
