{% load bootstrap3 %}

<h3><a href="{% url 'show_post' post.year post.month post.slug %}">{{ post.title }}</a></h3>
<div><strong>by <a href="{% url 'show_profile' post.author %}">{{ post.author }}</a> </strong> </div>
<span class="score" data-pk="{{ post.slug }}" data-score="{{ post.score }}">
  <p>
    {% bootstrap_icon 'time' %} <em>{{ post.published_at }} </em>
    <strong>score: {{ post.score }}</strong>
  </p>
</span>
{% comment %}
our JavaScript DOM traversal is simpler if there's no
readability-whitespace in the markup for votables
{% endcomment %}
<div class="post well" data-pk="{{ post.pk }}" data-kind="post">{{ post.render|safe }}</div>
<div class="voting-area">
  <a class="btn btn-success upvote"
     data-pk="{{ post.pk }}" data-kind="post"
     href="javascript:void(0)">
    {% bootstrap_icon 'thumbs-up' %} upvote
  </a>
  <a class="btn btn-danger downvote"
     data-pk="{{ post.pk }}" data-kind="post"
     href="javascript:void(0)">
    {% bootstrap_icon 'thumbs-down' %} downvote
  </a>
  <div class="vote-status" data-pk="{{ post.pk }}" data-kind="post">
  </div>
</div>
