#brand {
    font-family: 'Italianno', cursive;
    font-size: 60px;
    margin-right: 50px;
    text-decoration: none;
}
#brand a:link { text-decoration: none; color: #000000; }
#brand a:visited { text-decoration: none; color: #000000; }
#brand a:hover { text-decoration: none; color: #0000DD; }
#brand a:active { text-decoration: none; color: #DD0000; }

.post a:link { text-decoration: underline }

.comment {
    border-width: 1px;
    border-style: solid;
}

.karma-bubble {
    font-weight: bold;
    color: #ffffff;
    background-color: #882288;
    border-radius: 50%;
}