#brand {
    font-family: 'Italianno', cursive;
    font-size: 60px;
    margin-right: 50px;
    text-decoration: none;
}
#brand a:link { text-decoration: none; color: #000000; }
#brand a:visited { text-decoration: none; color: #000000; }
#brand a:hover { text-decoration: none; color: #909090; }
#brand a:active { text-decoration: none; color: #A0A0A0; }

a {
    color: #404040;
}

.post a:link { text-decoration: underline }

.comment {
    border-width: 1px;
    border-style: solid;
    padding: 6px;
    margin: 6px;
}

.comment-tool {
    font-size: 85%;
}

.vote-status {
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

.username {
    font-weight: bold;
    color: #303030;
}

#tag-cloud {
    background-color: #e0e0e0;
}
#tag-cloud a {
    color: #303030;
}