{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
<head>
  {% bootstrap_css %}
  <link href='http://fonts.googleapis.com/css?family=Italianno'
	rel='stylesheet' type='text/css'>
<link href="/static/finetooth.css" rel="stylesheet">

    <title>Finetooth &mdash; {% block subtitle %}{% endblock %}</title>
</head>
<body>

  <div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <span id="brand" class="pull-left"><a href="/">Finetooth</a></span>
	<ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#TODO">About</a></li>
	  <li><a href="#TODO">Log in</a></li>
	  <li><a href="#TODO">Sign up</a></li>
	</ul>
    </div>
  </div>

  <div class="container">
  {% block content %}{% endblock %}
  </div>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/static/finetooth.js"></script>
</body>

</html>
