{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% bootstrap_css %}
    <link href='http://fonts.googleapis.com/css?family=Italianno'
	  rel='stylesheet' type='text/css'>
    <link href="/static/finetooth.css" rel="stylesheet">
    {% block valuation %}{% endblock %}
    <title>Finetooth &mdash; {% block subtitle %}{% endblock %}</title>
  </head>
  <body>

    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <span id="brand" class="pull-left"><a href="/">Finetooth</a></span>
	<ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
	  {% if not user.is_authenticated %}
	    <li><a href="/login">Log in</a></li>
	    <li><a href="/signup">Sign up</a></li>
	  {% else %}
	    <li><a href="{% url 'show_profile' user.username %}">{{ user.username }}</a></li>
            <li> <a href="{% url 'new_post' %}"> New Post</a></li>
            <li>
              <form action="{% url 'logout' %}" method="POST">
                {% csrf_token %}
                <input class="btn btn-default" type="submit" value="Log out">
              </form>
            </li>
	  {% endif %}
	</ul>
      </div>
    </div>

    {% bootstrap_messages %}

    <div class="container">
      <div class="col-md-9">
        {% block content %}{% endblock %}
      </div>
      <div class="col-md-3">
        {% include "includes/tag_cloud.html" %}
      </div>
    </div>

    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
    <script src="/static/finetooth.js"></script>
  </body>

</html>
