{% load i18n %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" media="screen" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Italianno'
	  rel='stylesheet' type='text/css'>
    <link href="/static/finetooth.css" rel="stylesheet">
    {% block valuation %}{% endblock %}
    <title>{% trans "Finetooth" %} &mdash; {% block subtitle %}{% endblock %}</title>
  </head>
  <body>

    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <span id="brand" class="pull-left">
          <a href="/">{% trans "Finetooth" %}</a>
        </span>
	<ul class="nav navbar-nav">
          <li class="active"><a href="/">{% trans "Home" %}</a></li>
	  {% if not user.is_authenticated %}
	    <li><a href="/login">{% trans "Log in" %}</a></li>
	    <li><a href="/signup">{% trans "Sign up" %}</a></li>
	  {% else %}
	    <li>
              <a href="{% url 'show_profile' user.username %}">
                {{ user.username }}
              </a>
            </li>
            <li> <a href="{% url 'new_post' %}">{% trans "New post" %}</a></li>
            <li>
              <form action="{% url 'logout' %}" method="POST">
                {% csrf_token %}
                <input class="btn btn-default" type="submit"
                       value="{% trans "Log out" %}">
              </form>
            </li>
	  {% endif %}
	</ul>
      </div>
    </div>

    {% for message in messages %}
      <div class="alert{% if message.tags %} alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}{% endif %} alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&#215;</button>
        {{ message|safe }}
      </div>
    {% endfor %}

    <div class="container">
      <div class="col-md-9">
        {% block content %}{% endblock %}
      </div>
      <div class="col-md-3">
        {% if user.is_authenticated %}
          {% include "includes/sidebar_profile.html" %}
        {% else %}
          <div id="sidebar-login" class="well">
            <form action="/login/" method="POST">
              {% csrf_token %}
              {{ sidebar_login_form.as_p }}
              <input type="hidden" name="next" value="/"/>
              <input type="submit" value="{% trans "log in" %}">
            </form>
          </div>
        {% endif %}
        {% include "includes/tag_cloud.html" %}
        {% include "includes/sidebar_archives_list.html" %}
      </div>
    </div>

    <script src="{{ jquery_url }}"></script>
    <script src="{{ underscore_url }}"></script>
    <script src="/static/finetooth.js"></script>
  </body>

</html>
