{% extends "base.html" %}

{% block subtitle %}{{ post.title }}{% endblock %}

{% block content %}
<h2>Post #{{ post.pk }}</h2>
<span class="score" data-pk="{{ post.pk }}" data-score="{{ post.score }}">
  <strong>score: {{ post.score }}</strong>
</span>

<div class="post-content" data-id="{{ post.pk }}">
{{ post.content }}
</div>

<div id="comments">
  <h4>{{ post.comment_set.count }} comments</h4>
  {% for comment in post.comment_set.all %}
  <hr>
  <div class="comment" data-id="{{ comment.pk }}">
    {{ comment.content }}
  </div>
  {% endfor %}
</div>

{% endblock %}
