{% extends "base.html" %}

{% block valuation %}
<link href="/valuation_{{ low_score }}-{{ low_color }}_{{ high_score }}-{{ high_color }}.css" rel="stylesheet">
{% endblock %}
{% block subtitle %}{{ post.title }}{% endblock %}

{% block content %}
{% include "includes/post.html" %}

<form action="{% url 'add_comment' post.pk %}" method="post">{% csrf_token %}
{{ comment_form.as_p }}
<input type="submit" value="Submit" />
</form>

<div id="comments">
  <h4>{{ post.comment_set.count }} comments</h4>
  {% for comment in top_level_comments %}
  <hr>
  {% include "includes/comment.html" %}
  {% endfor %}
</div>
{% endblock %}
