{% extends "base.html" %}
{% load i18n %}

{% block subtitle %}
  {% trans "Profile for" %} {{ the_user.username }}
{% endblock %}

{% block content %}

{% trans "Profile for" %} {{ the_user.username }}.

<p>
  {% if viewing_user == the_user %}
    {% trans "This is you!" %}
    <a href="{% url 'edit_profile' viewing_user.username %}">
      {% trans "Edit profile" %}
    </a>
  {% else %}
    {% trans "This is not you..." %}
  {% endif %}
</p>

<p>
  {% trans "Karma" %}: <span class="badge karma-bubble">&nbsp;{{ the_user.karma }}&nbsp;</span>
</p>

<p>
  {% trans "Location" %}: {{ the_user.location }}
</p>

<p>
  {% trans "URL" %}:
  {% if the_user.url %}
    <a href="{{ the_user.url }}"> {{ the_user.url }}</a>
  {% else %}
    {% trans "none" %}
  {% endif %}
</p>

{% for post in posts %}
   {% include "includes/post.html" %}
{% endfor %}

{% for comment in comments %}
   {% include "includes/comment.html" %}
{% endfor %}

{% endblock %}
