{% extends "base.html" %}

{% block subtitle %} Profile for {{ the_user.username }} {% endblock %}

{% block content %}

Profile for {{ the_user.username }}.

<p>
  {% if viewing_user == the_user %}
    This is you!
    <a href="{% url 'edit_profile' viewing_user.username %}">
      Edit profile
    </a>
  {% else %}
    This is not you...
  {% endif %}
</p>

<p>
  Karma: <span class="karma-bubble">&nbsp;{{ the_user.karma }}&nbsp;</span>
</p>

<p>
  Location: {{ the_user.location }}
</p>

<p>
  URL:
  {% if the_user.url %}
    <a href="{{ the_user.url }}"> {{ the_user.url }}</a>
  {% else %}
    none
  {% endif %}
</p>

{% for post in posts %}
   {% include "includes/post.html" %}
{% endfor %}

{% for comment in comments %}
   {% include "includes/comment.html" %}
{% endfor %}

{% endblock %}
