{% extends "base.html" %}

{% block subtitle %}new post{% endblock %}

{% block content %}
<form action="{% url 'sign_up' %}" method="post">
{% csrf_token %}
<p><label for="username">Username: </label><input type="text" name="username" id="username"></p>
<p><label for="password">Password: </label><input type="text" name="password" id="password"></p>
<p><label for="email">Email address: </label><input type="text" name="email" id="email"></p>


<p><input type="submit" value="Submit"></p>
</form>
{% endblock %}

