{% extends "base.html" %}
{% load i18n %}

{% block valuation %}
<link href="/valuation_{{ low_score }}-{{ low_color }}_{{ high_score }}-{{ high_color }}.css" rel="stylesheet">
{% endblock %}

{% block subtitle %}{% trans "tagged" %} {{ tag.label }}{% endblock %}

{% block content %}
  <h4>{% trans "Posts tagged" %} '{{ tag.label }}'</h4>

  <p>
    <a href="{% url 'tag_rss' tag.label %}">
      <img class="feed-icon"
           src="/static/images/feed_icon.png">{% trans "RSS" %}
    </a>
  </p>

{% for post in posts %}
  <div class="row">
  {% include "includes/post.html" %}
</div>
{% endfor %}

{% include "includes/pagination.html" %}

{% endblock %}
